header
{
	display: flex;
	width: 1248px;
	height: 62.400001525878906px;
	opacity: 1;
	top: 48px;
	left: 96px;
	padding-top: 50px;
	justify-content: center;
	align-items: center;
}

header a
{
	text-decoration: none;
}

.logo
{
	display: flex;
	width: 111.94140625;
	height: 42.31485366821289;
	opacity: 1;
	top: 9px;
	align-items: center;

	font-family: Poppins;
	font-weight: 600;
	font-style: SemiBold;
	font-size: 21.18px;
	line-height: 130%;
	letter-spacing: 0px;
	color: #6C5FBC;
}

.nav
{
	display: flex;
	width: 374.4571228027344;
	height: 27;
	opacity: 1;
	top: 17px;
	left: 215.06px;
	gap: 53.49px;
	justify-content: space-between;
	padding-right: 400px;
	padding-left: 100px;
	
	font-family: Inter;
	font-weight: 500;
	font-size: 17.83px;
	line-height: 26.74px;
	letter-spacing: 0%;
	text-transform: capitalize;
	color: #606060;
}

.buttons
{
	display: flex;
	width: 232.88571166992188;
	height: 62.65713882446289;
	opacity: 1;
	top: -1px;
	left: 1015.12px;
	gap: 8.91px;
	justify-content: right;
	
	font-family: Inter;
	font-weight: 700;
	font-size: 17.83px;
	line-height: 26.74px;
	letter-spacing: 0%;
	text-transform: capitalize;
}

.button1
{
	width: 102.48571014404297;
	height: 62.65713882446289;
	opacity: 1;
	border-radius: 17.83px;
	gap: 11.14px;
	padding-top: 17.83px;
	padding-right: 26.74px;
	padding-bottom: 17.83px;
	padding-left: 26.74px;

}

.button2
{
	width: 121.48571014404297;
	height: 62.65713882446289;
	opacity: 1;
	border-radius: 17.83px;
	gap: 11.14px;
	padding-top: 17.83px;
	padding-right: 26.74px;
	padding-bottom: 17.83px;
	padding-left: 26.74px;
	background: #6C5FBC;	
}

