header
{
	/*display: flex;*/
	height: 62.400001525878906px;
	opacity: 1;
	top: 48px;
	left: 96px;
	/*justify-content: flex-start;
	align-items: center;*/
}

header a
{
	text-decoration: none;
}

.hdr_flex
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 4%;
}

.logo
{
	display: flex;
	width: 111.94140625px;
	height: 42.31485366821289px;
	opacity: 1;
	top: 9px;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	

	font-family: Poppins;
	font-weight: 600;
	font-style: SemiBold;
	font-size: 21.18px;
	line-height: 130%;
	letter-spacing: 0px;
	color: #6C5FBC;
}

.logo a:active
{
	color: #6C5FBC;
}

.logo a:visited
{
	color: #6C5FBC;
}

.logo_img
{
	justify-content: flex-start;
}

.nav
{
	display: flex;
	width: 374.4571228027344px;
	height: 27px;
	opacity: 1;
	top: 17px;
	left: 215.06px;
	gap: 53.49px;
	justify-content: space-between;
	/*padding-right: 770px;
	padding-left:80px;*/
	margin-left: 15%;
	margin-right: 60%;
	
	
	font-family: Inter;
	font-weight: 500;
	font-size: 17.83px;
	line-height: 26.74px;
	letter-spacing: 0%;
	text-transform: capitalize;
	color: #606060;
}

.nav a:active
{
	color: #606060;
}

.nav a:visited
{
	color: #606060;
}

.buttons
{
	display: flex;
	width: 232.88571166992188px;
	height: 62.65713882446289px;
	opacity: 1;
	top: -1px;
	left: 1015.12px;
	gap: 8.91px;
	
	font-family: Inter;
	font-weight: 700;
	font-size: 17.83px;
	line-height: 26.74px;
	letter-spacing: 0%;
	text-transform: capitalize;
}

.button1
{
	width: 102.48571014404297px;
	height: 62.65713882446289px;
	opacity: 1;
	border-radius: 17.83px;
	gap: 11.14px;
	padding-top: 17.83px;
	padding-right: 26.74px;
	padding-bottom: 17.83px;
	padding-left: 26.74px;
	color: #606060;
}

.button2
{
	width: 121.48571014404297px;
	height: 62.65713882446289px;
	opacity: 1;
	border-radius: 17.83px;
	gap: 11.14px;
	padding-top: 17.83px;
	padding-right: 26.74px;
	padding-bottom: 17.83px;
	padding-left: 26.74px;
	background: #6C5FBC;
	color: #F9F9F9;
}