.blog-headline {
	margin-top: 126px;
}

.headline {
	display: flex;
	flex-direction: column;
}

.headline__title {
	font-weight: 600;
	font-size: 37.4px;
	line-height: 44.55px;
	color: #252525;
}

.written-by {
	display: flex;
	align-items: center;
	margin-top: 32px;
}

.written-by--img {
	height: 56px;
}

.written-by--img img {
	width: 56px;
	border-radius: 100%;
}

.written-by--text {
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	padding-left: 14.6px;
}

.written-by--uppertext {
	font-weight: 400;
	font-size: 15.04px;
	line-height: 100%;
	color: #8D8D8D;
}

.written-by--lowertext {
	font-weight: 500;
	font-size: 21.75px;
	line-height: 33.35px;
	color: #000000;
}

.headline__img {
	aspect-ratio: 3/1;
	margin-top: 61.5px;
}

.headline__img img{
	width: 100%;
}

.blog-main--section {
	margin-top: 80px;
}

.blog-main {
	display: flex;
	justify-content: space-between;
}

.blog-main__body {
	font-weight: 400;
	font-size: 22px;
	line-height: 44.55px;
	color: #252525;
}

.blog-main__body--1st {
	margin-bottom: 56px;
}

.blog-main__body--2nd {
	margin-bottom: 90px;
}

.blog-main__body--3rd {
	margin-bottom: 53px;
}

.blog-main__body--title {
	font-weight: 600;
	font-size: 33px;
	line-height: 44.55px;
	text-transform: capitalize;
	color: #252525;
	margin-bottom: 35px;
}

.blog-main__body--text {
	text-align: justify;
}

.blog-main__body--bullets {
	list-style: inside;
	margin-bottom: 100px;
}

.blog-main__vr-divider {
	width: 1px;
	background-color: #9B9B9B;
	margin-left: 75px;
	margin-right: 46px;
}

.blog-main__top-articles {
	display: flex;
	flex-direction: column;
	gap: 60px;
	margin-bottom: 15px;
}

.top-articles__title {
	margin-left: 10px;
	margin-bottom: -16px;
	font-weight: 600;
	font-size: 30px;
	line-height: 44.55px;
	color: #252525;
}

.top-articles__card {
	display: flex;
	flex-direction: column;
	border-radius: 13.55px;
	background-color: #FFFFFF;
	padding: 21px 16px 26px 17px;
	box-shadow: 0px 3.34px 100px 0px #32314240;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.top-articles__card:hover {
    transform: scale(1.05);
    box-shadow: 0px 3.34px 100px rgba(0, 0, 0, 0.1);
}

.top-articles__card--img {
	height: 232.8px;
}

.top-articles__card--img img{
	width: 264.7px;
	border-radius: 10.46px;
}

.top-articles__card--title {
	margin-top: 18.4px;
	font-weight: 600;
	font-size: 18.07px;
	line-height: 21.52px;
	color: #252525;
}

.top-articles__card .written-by {
	margin-top: 18px;
}

.top-articles__card .written-by--img {
	height: 37px;
}

.top-articles__card .written-by--img img {
	width: 37px;
}

.top-articles__card .written-by--uppertext {
	font-size: 10.06px;
}

.top-articles__card .written-by--lowertext {
	font-size: 14.55px;
	line-height: 22.31px;
}

.written-by--date {
	margin-left: auto;
	font-weight: 500;
	font-size: 13.55px;
	line-height: 26.83px;
	color: #B7B4B4;
}

.blog-button {
	margin-top: 47px;
	margin-bottom: 168px;
}

.blog-button__next {
	display: flex;
	width: 245px;
	height: 80px;
	align-items: center;
	justify-content: center;
	border-radius: 16.49px;
	background: #6C5FBC;
	cursor: pointer;
	
	font-weight: 600;
	font-size: 20.29px;
	line-height: 25.37px;
	text-transform: capitalize;
	text-decoration: none;
	color: #F4F4F4;
}

.blog-button__next--arrow {
	width: 30px;
	height: 34px;
	margin-left: 27px;
}

.blog-button__next:hover {
    background-color: #5a4ea3;
}

.mobile-only-img {
    display: none;
}

@media (min-width:769px) and (max-width: 1024px) {
	.blog-headline {
		margin-top: 89.6px;
	}
	
	.headline__title {
		font-size: 26.6px;
		line-height: 31.68px;
	}
	
	.written-by {
		margin-top: 22.7px;
	}
	
	.written-by--img {
		height: 40px;
	}

	.written-by--img img {
		width: 40px;
	}
	
	.written-by--text {
		padding-top: 3.6px;
		padding-left: 10.4px;
	}

	.written-by--uppertext {
		font-size: 10.7px;
	}

	.written-by--lowertext {
		font-size: 15.47px;
		line-height: 23.72px;
	}

	.headline__img {
		aspect-ratio: 3/1;
		margin-top: 44px;
	}
	
	.blog-main--section {
		margin-top: 57px;
	}
	
	.blog-main__body {
		font-size: 15.64px;
		line-height: 31.68px;
	}
	
	.blog-main__body--1st {
		margin-bottom: 39.4px;
	}

	.blog-main__body--2nd {
		margin-bottom: 63.6px;
	}

	.blog-main__body--3rd {
		margin-bottom: 38px;
	}

	.blog-main__body--title {
		font-size: 23.47px;
		line-height: 31.68px;
		margin-bottom: 25px;
	}

	.blog-main__body--bullets {
		margin-bottom: 71px;
	}

	.blog-main__vr-divider {
		margin-left: 53.33px;
		margin-right: 33px;
	}

	.blog-main__top-articles {
		gap: 43px;
		margin-bottom: 15px;
	}

	.top-articles__title {
		margin-left: 6px;
		margin-bottom: -19px;
		font-size: 21.33px;
		line-height: 31.68px;
	}

	.top-articles__card {
		border-radius: 9.64px;
		padding: 15.3px 11.6px 19px 12.2px;
		box-shadow: 0px 2.37px 71.42px 0px #32314240;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
		cursor: pointer;
	}
	
	.top-articles__card:hover {
		box-shadow: 0px 2.37px 71.42px rgba(0, 0, 0, 0.1);
	}
	
	.top-articles__card--img {
		height: 165.5px;
	}

	.top-articles__card--img img{
		width: 188px;
		border-radius: 7.44px;
	}

	.top-articles__card--title {
		margin-top: 13px;
		font-size: 12.85px;
		line-height: 15.31px;
	}

	.top-articles__card .written-by {
		margin-top: 12.3px;
	}

	.top-articles__card .written-by--img {
		height: 26.6px;
	}

	.top-articles__card .written-by--img img {
		width: 26.6px;
	}

	.top-articles__card .written-by--uppertext {
		font-size: 7.15px;
	}

	.top-articles__card .written-by--lowertext {
		font-size: 10.35px;
		line-height: 15.86px;
	}

	.written-by--date {
		font-size: 9.64px;
		line-height: 19.08px;
	}

	.blog-button {
		margin-top: 33.4px;
		margin-bottom: 119.5px;
	}

	.blog-button__next {
		width: 174px;
		height: 57px;
		border-radius: 11.73px;
		
		font-size: 14.43px;
		line-height: 18.04px;
	}

	.blog-button__next--arrow {
		width: 21.65px;
		height: 24.4px;
		margin-left: 19.3px;
	}
	
}

@media (max-width: 768px) {
    
    .headline .headline__img {
        display: none;
    }

    .mobile-only-img {
        display: block;
        margin-top: 0;
        margin-bottom: 40px;
        width: 100%;
        aspect-ratio: 1 / 1; 
        overflow: hidden;
    }

    .mobile-only-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-headline {
        margin-top: 40px;
    }

    .headline__title {
        font-size: 22.39px;
        line-height: 120%;
    }

    .written-by {
        width: 100%;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #C5C5C5;
        margin-bottom: 30px
    }

	.written-by--img img {
		width: 39.74px;
	}

	.written-by--uppertext {
		font-size: 10.7px;
	}

	.written-by--lowertext {
		font-size: 15.48px;
		line-height: normal;
	}

	.written-by--text {
		padding-top: 0;
	}

    .blog-main {
        flex-direction: column;
    }
    
    .blog-main__body {
        width: 100%;
        font-size: 16px; 
    }

    .blog-main__top-articles,
    .blog-main__vr-divider {
        display: none;
    }
    
    .blog-button__next {
        width: 137px;
		height: 44.73px;
		font-size: 11.35px;
		border-radius: 9.22px;
    }

	.blog-button__next--arrow {
		width: 17px;
	}

	.blog-main__body--title {
		font-size: 17.36px;
		margin-bottom: 18px;
	}

	.blog-main--section {
		margin-top: 40px;
	}

	.blog-main__body--text {
		font-size: 11.57px;
		line-height: 23.43px;
		letter-spacing: 0%;
	}

	.blog-main__body--bullets {
		font-size: 11.57px;
		line-height: 23.43px;
		letter-spacing: 0%;
		margin-bottom: 50px;
	}

	.blog-button {
		margin-top: 25px;
		margin-bottom: 95px;
	}
}

