.dishes {
    margin-top: 100px;
    margin-bottom: 120px;
}

.dishes__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 25.56px;
    display: flex;
    justify-content: center;
    gap: 0.25em;
}

.dishes__title--highligth {
    color: #6C5FBC;
}

.dishes__cards {
    margin-top: 86px;
    display: flex;
    gap: 30px;
}

.mobile-text {
    display: none;
}

.dishes__card {
    text-decoration: none;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: 390px;
    max-width: 225px;
    border-radius: 34px;
    border: 1.44px solid #F4F4F6;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 5.95px 55.35px 25.67px 0px #E5E5E5B2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
}

.dishes__card__image {
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.dishes__card__image img {
    width: 80%;
    position: absolute;
    left: 8%;
}

.dishes__card__heart {
    position: absolute;
    right: 15px;
    top: 24px;
    background: transparent;
    display: flex;
}

.dishes__card__heart:active {
    transform: scale(0.9);
}

.dishes__card__heart:hover {
    filter: brightness(180%);
}

.dishes__card__content {
    padding: 0 8.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;
    background: transparent;
}

.dishes__card__tag {
    padding: 5px 7px;
    text-align: center;
    border-radius: 4.8px;
    font-size: 11.4px;
    line-height: 1;
}

.tag--supreme {
    background-color: #CEF0D7;
    color: #309D5B;
}

.dishes__card__title {
    color: #323142;
    font-weight: 600;
    font-size: 23.05px;
    line-height: 37.46px;
    letter-spacing: 0px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}

.dishes__card__info {
    font-weight: 400;
    font-family: Manrope, sans-serif;
    font-size: 17.29px;
    line-height: 23.05px;
    letter-spacing: 0px;
    color: #8E97A6;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    margin-top: auto;
}

.card__price__cart {
    display: flex;
    align-items: flex-end;
    margin-top: 12px;
    margin-bottom: 30px;
}

.card__price {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    color: #121826;
}

.card__price::after {
    font-size: 19px;
    color: #8E97A6;
    content: ".99";
    margin-left: -6px;
}

.card__cart {
    position: absolute;
    right: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}

.card__cart:active {
    transform: scale(0.9);
}

.card__cart:hover {
    filter: brightness(150%);
}

.dishes__card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.dishes.dishes--menu-page {
    margin-top: 145px;
}

.dishes--menu-page .dishes__title {
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

.dishes__title-content {
    display: flex;
    gap: 0.25em;
}

.dishes--menu-page .restaurants__viewall {
    margin-top: 0px;
}

@media (max-width: 768px) {
    .dishes__cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
    }

    .dishes__card {
        width: 146px;
        flex: 0 0 146px;
        max-width: none;
        height: auto;
        margin: 0;
        border-radius: 22px;
    }

    .dishes__card:nth-child(5) {
        display: none;
    }

    .dishes__title {
        font-size: 30px;
        flex-direction: column;
        align-items: center;
    }

    .dishes__card__tag {
        padding: 4px 5px;
        font-size: 7.5px;
    }

    .dishes__card__title {
        font-size: 15px;
        line-height: 1.3;
        margin-top: 5px;
    }

    .dishes__card__info {
        font-size: 11.3px;
        gap: 3.77px;
        margin-top: 5px;
        align-items: center;
    }

    .dishes__card__info img {
        width: 18px;
    }

    .dishes__card__image {
        aspect-ratio: unset;
        height: 110px;
        margin-top: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dishes__card__heart img {
        width: 14px;
    }

    .dishes__card__heart {
        top: 15px;
        right: 14px;
    }

    .dishes__card__image img {
        position: static;
        width: 90%;
        height: 100%;
        object-fit: contain;
        left: auto;
    }

    .card__price {
        font-size: 17px;
        line-height: 1.2;
    }

    .card__price::after {
        font-size: 12px;
        margin-left: -3px;
    }

    .card__price__cart {
        align-items: center;
        margin-bottom: 20px;
    }

    .card__cart {
        right: 18px;
    }

    .card__cart img {
        width: 28px;
    }

    .dishes.dishes--menu-page .container {
        display: flex;
        flex-direction: column;
    }

    .dishes.dishes--menu-page .dishes__title {
        display: contents;
    }

    .dishes.dishes--menu-page .dishes__title-content {
        order: 1;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .dishes.dishes--menu-page .dishes__cards {
        order: 2;
    }

    .dishes.dishes--menu-page .restaurants__viewall {
        order: 3;
        margin-top: 81px;
        width: 100%;           
        justify-content: flex-end;
        display: flex;
    }

    .desktop-text {
        display: none;
    }

    .mobile-text {
        display: inline;
    }

    .dishes.dishes--menu-page .dishes__title-content {
        align-items: flex-start;
        font-size: 24.89px;
    }
}