.app {
    padding-top: 90px;
    padding-bottom: 65px;
}

.app__text-block {
    flex: 1;
    min-width: 300px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.app__text-block ul {
    padding-left: 20px;
}

.app__title {
    font-size: 50.92px;
    line-height: 58.2px;
    color: #1A202C;
    margin-bottom: 63px;
}

.app__title--highlight {
    color: #6C5FBC;
}

.app__description {
    font-family: Inter;
    font-size: 20.33px;
    line-height: 30.5px;
    color: #676767;
    margin-bottom: 28px;
}

.button.app__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 500;
    font-size: 18.06px;
    line-height: 22.58px;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    background-color: #6C5FBC;
    border: 2px solid #6C5FBC;
    border-radius: 14.68px;
    margin-top: 30px;
}

.button.app__button:hover {
    filter: brightness(90%);
}

.app__image-block img {
    margin-left: 15%;
}

.app__container--reversed {
    flex-direction: row-reverse;
}

.button__arrow {
    border: black 1px solid;
}

.app__download-block {
    position: relative;
    align-self: flex-start;
}

.app__arrow-decoration {
    position: absolute;
    top: 85px;
    left: 90%;
    white-space: nowrap;
}

.app .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .app .container {
        flex-direction: column;
    }

    .app__container--reversed {
        flex-direction: column;
    }

    .app__text-block {
        max-width: 100%;
        margin-right: 0;
        min-width: unset;
    }

    .app__title {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 30px;
        text-align: center;
    }

    .app__description {
        font-size: 16px;
        line-height: 1.5;
    }

    .app__image-block {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        padding-left: 10%;
    }

    .app__image-block img {
        margin: 0;
        display: inline-block;
        width: 208px;
        height: auto;
        margin-top: 60px;
    }

    .app__download-block {
        align-self: center;
    }

    .button.app__button {
        font-size: 12px;
        gap: 9px;
        padding: 13px 17px;
    }

    .button.app__button img {
        width: 18px;
    }

    .app__description {
        font-size: 12px;
    }

    .app__arrow-decoration {
        transform: rotate(105deg);
        left: -70%;
        top: 90px;
    }

    .app__arrow-decoration img {
        width: 120px;
    }

}