footer a{
    text-decoration:none;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 29px;
    line-height: 130%;
    color: #6C5FBC;
}

footer {
    padding: 100px 0 81px 0;
    box-sizing: border-box;
    background:#EAEAEA;
}

.upperpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

.links {
    display: flex;
    gap: 70px;
}

.links a {
    font-family: Inter;
    color: #999999;
    font-size: 17.83px;
}

.lowerpart {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CBCBCB;
    padding-top: 57px;
    align-items: center;
}

.footerbuttons {
    font-family: Inter;
    font-size: 17.83px;
    color: #999999;
}

.networks {
    display: flex;
    gap: 20px;
}

.networks a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.footer__button:hover {
    color: #464646;
}
