footer a{
    text-decoration:none;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 29px;
    line-height: 130%;
    color: #6C5FBC;
}

footer {
    padding: 100px 0 81px 0;
    box-sizing: border-box;
    background:#EAEAEA;
}

.upperpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

.links {
    display: flex;
    gap: 70px;
}

.links a {
    font-family: Inter;
    color: #999999;
    font-size: 17.83px;
}

.lowerpart {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CBCBCB;
    padding-top: 57px;
    align-items: center;
}

.footerbuttons {
    font-family: Inter;
    font-size: 17.83px;
    color: #999999;
}

.networks {
    display: flex;
    gap: 20px;
}

.networks a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.footer__button:hover {
    color: #464646;
}

@media (max-width: 768px) {
    footer .container {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
    }

    footer {
        padding: 50px 0 30px 0;
    }

    .upperpart {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        width: 100%;
    }

    footer .logo {
        margin-bottom: 40px;
        font-size: 18.74px;
    }

    footer .logo img {
        width: 40.65px;
    }
    
    .links {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 30px;
    }

    .links a {
        color: #606060;
    }

    .lowerpart {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
        width: 100%;
    }

    .footerbuttons {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #606060;
    }

    .networks {
        position: absolute;
        top: 20px;
        right: 30px; 
        gap: 20px; 
    }

    .networks a {
        width: 16px;
        height: 16px;
        flex-shrink: 0; 
    }
    
    .networks a img {
        width: 100%;
        height: 100%;
    }

}