.footer a{
    text-decoration:none;
}

footer ~ .section-divider,
footer + .section-divider,
.section-divider:last-of-type {
    display: none;
}

.footer {
    padding: 100px 0 81px 0;
    box-sizing: border-box;
    background:#EAEAEA;
}

.footercontent {
    margin: 0 40px 0 50px;
    max-width: 1285px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.upperpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

.links {
    display: flex;
    gap: 70px;
}

    .links a {
        font-family: Inter;
        color: #999999;
        font-size: 17.83px;
    }

.lowerpart {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CBCBCB;
    padding-top: 57px;
    align-items: center;
}

.footerbuttons {
    font-family: Inter;
    font-size: 17.83px;
    color: #999999;
}

.networks {
    display: flex;
    gap: 20px;
}

    .networks a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background-color 0.3s;
    }
