:root {
    font-family: Poppins, sans-serif;
    background-color: #F9F9F9;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1285px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section-divider {
    border: none;
    height: 1px;
    background-color: #CBCBCB;
    max-width: 1237px;
    width: calc(100% - 48px); 
    margin: 0 auto;
    margin-top: 25px;
}