header a {
    text-decoration: none;
}

.hdr_flex {
    display: flex;
	align-items: center;
    padding-top: 48px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 11px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    color: #6C5FBC;
}

.logo a, 
.logo a:active, 
.logo a:visited {
    color: #6C5FBC;
}

.nav {
    display: flex;
    gap: 53px;
	margin-left: clamp(20px, 8vw, 103px); 
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #606060;
}

.nav a {
    color: #606060;
}

.nav a:hover {
    color: #000000;
}

.buttons {
    display: flex;
    align-items: center;
	margin-left: auto;
    gap: 15px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.button1, .button2 {
    padding: 20px 25px;
    border-radius: 18px;
    cursor: pointer;
    text-align: center;
}

.button1 {
    background-color: transparent;
    color: #606060;
}

.button1:hover {
    background-color: #F0F0F0;
    color: #000000;
}

.button2 {
    background-color: #6C5FBC;
    color: #F9F9F9;
}

.button2:hover {
    background-color: #5a4ea3;
    color: #FFFFFF;
}