.upper__enter-mail {
	font-weight: 500;
	font-size: 22.56px;
	line-height: 125%;
	color: #CFCFD3;
	margin-top: 24px;
	margin-bottom: 90px;
	text-align: center;
}

.sign-up__copyright {
	margin-top: 297px;
}

@media (max-width: 768px) {
	.upper__enter-mail {
		font-size: 18.25px;
	}
}