.pricing-hero {
    margin-top: 66px;
    margin-bottom: 66px;
}

.pricing {
    padding-bottom: 56px;
}

.pricing__card {
    width: 100%;
    background-color: white;
    border-radius: 11px;
    padding: 38px 65px 38px 46px;
    display: grid;
    grid-template-columns: auto 304fr auto 199fr auto;
    box-shadow: 0px 50px 70px 20px rgba(0, 0, 0, 0.08);
}

.pricing__card hr {
    grid-column: 1 / -1;
    border: 0;
    border-top: 1px solid #d6d6d6;
    margin: 26px 0;
    margin-left: -46px;
    margin-right: -65px;
    width: calc(100% + 46px + 65px);
}

.card__first-part,
.card__second-part,
.card__third-part,
.card__feature-row {
    display: contents;
}

.first-part__title {
    font-weight: 600;
    font-size: 28.44px;
    line-height: 120%;
    letter-spacing: -0.71px;
    display: contents;
}

.first-part__subtitle {
    display: contents;
    font-family: Inter;
    font-weight: 500;
    font-size: 11.38px;
    line-height: 17.07px;
    letter-spacing: 0%;
    color: #6E757C;

}

.first-part__subtitle>* {
    margin-top: 18px;
    margin-bottom: 28px;
}

.price-item {
    font-weight: 600;
    font-size: 45.51px;
    line-height: 51.2px;
}

.currency {
    font-weight: 600;
    font-size: 17.07px;
    line-height: 22.76px;
    vertical-align: top;
    position: relative;
    top: 0.25em;
}

.period {
    font-family: Inter;
    font-weight: 500;
    font-size: 11.38px;
    line-height: 17.07px;
    letter-spacing: 0%;
    color: #6E757C;
}

.card__prices-row,
.card__feature-row {
    display: contents;
}

.card__prices-row .price-item:nth-child(1) {
    grid-column: 3;
}

.card__prices-row .price-item:nth-child(2) {
    grid-column: 5;
}

.card__prices-row .pricing__button:nth-child(1) {
    grid-column: 3;
}

.card__prices-row .pricing__button:nth-child(2) {
    grid-column: 5;
}

.card__feature-title {
    font-weight: 600;
    font-size: 17.07px;
    line-height: 22.76px;
    grid-column: 1;
}

.card__feature {
    grid-column: 1;
    font-weight: 500;
    font-size: 15.64px;
    line-height: 22.76px;
    color: #606060;
}

.card__feature-row img:nth-child(2) {
    grid-column: 3;
    justify-self: start;
}

.card__feature-row img:nth-child(3) {
    grid-column: 5;
    justify-self: start;
}


.card__feature-row>* {
    margin-bottom: 25px;
}

.pricing__button {
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 11.57px;
    line-height: 100%;
    color: #F9F9F9;
    border: none;
    background-color: #6C5FBC;
    border-radius: 8.83px;
    width: 103px;
    height: 42px;
}

.pricing__button:hover {
    background-color: #443c77;
    transition: 0.1s ease-in-out;
}

.mobile-view {
    display: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .pricing-hero {
        margin-top: 46px;
        margin-bottom: 66px;
    }

    .container {
        max-width: 887px;
        width: 100%;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
        margin-left: 41px;
        margin-right: 41px;
    }

    .first-part__title {
        font-size: 24px !important;
    }

    .first-part__subtitle {
        font-size: 11.38px !important;
    }


    .purchases__title {
        font-size: 36.21px !important;
    }

    .purchases__card {
        max-width: 242px !important;
        min-width: 240px !important;
    }

    .purchases__card__image {
        height: 56px !important;
        margin-right: 13px !important;
    }

    .purchases__card__title {
        font-size: 13px !important;
    }

    .purchases__card__status {
        font-size: 8px;
        margin-top: 3px;
    }

    .purchases__card__time {
        position: absolute;
        right: 12px;
        bottom: 6px;
        font-size: 9px !important;
    }


    .purchases__illustration {
        width: 379px !important;
        height: 331px !important;
        padding: 26px !important;
    }

    .purchases {
        margin-bottom: 98px !important;
    }

    .illustration__title {
        font-size: 20px !important;
    }

    .illustration__period {
        font-size: 13px !important;
        width: 125px !important;
        height: 37px !important;
        padding-left: 13px !important;
    }

    .content__card {
        width: 326px !important;
        height: 96px !important;
        padding: 17px !important;
        gap: 14px !important;
    }

    .illustration__content {
        margin-top: 32px !important;
    }

    .content__icon {
        height: 35px !important;
    }

    .content__title {
        font-size: 13.4px !important;

    }

    .content__subtitle {
        font-size: 11px !important;
    }

    .content__money {
        font-size: 15px !important;
    }

    .reviews__main-review {
        width: 375px !important;
        height: 246px !important;
        padding: 24px 30px !important;
    }

    .reviews {
        margin-top: 82px !important;
        margin-bottom: 217px;
    }

    .reviews__title {
        font-size: 32px !important;
    }

    .review__pic {
        height: 50px !important;
    }

    .review__name {
        font-size: 14.86px !important;
    }

    .review__status {
        font-size: 11.87px !important;
    }

    .review__quote {
        height: 31px !important;
    }

    .main-review__text {
        font-size: 12px !important;
    }

    .main-review__text {
        line-height: 18.6px !important;
        letter-spacing: 0px !important;
        margin-top: 20px !important;
    }

    .main-review__stars img {
        height: 16px !important;
    }

    .side-review__stars img {
        height: 16px !important;
    }

    .side-review__stars {
        margin-top: 22px !important;
    }

    .main-review__stars {
        margin-top: 25px !important;
    }


    .side-review__text {
        font-size: 12px !important;
        line-height: 18.6px !important;
    }

    .reviews__side-review {
        width: 375px !important;
        height: 169px !important;
        padding: 27px 30px !important;
    }

    .reviews__content {
        gap: 32px !important;
    }

    .reviews {
        margin-bottom: 145px !important;
    }

}

@media (max-width: 768px) {
    .pricing-hero .container img {
        min-width: 484px;
    }

    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .mobile-card {
        background: white;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .m-card__title {
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: #323142;
        margin-bottom: 5px;
    }

    .mobile-card .price-item {
        font-weight: 600;
        font-size: 45.51px;
        line-height: 51.2px;
        color: #323142;
        margin-bottom: 10px;
    }

    .m-divider {
        border: 0;
        border-top: 1px solid #EDEDED;
        width: 100%;
        margin: 10px 0 20px 0;
    }

    .m-card__description {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 11.39px;
        line-height: 1.5;
        color: #6E757C;
        margin-bottom: 16px;
    }

    .m-btn {
        width: 103.89px;
        height: 41.94px;
        margin-bottom: 25px;
        font-size: 11.57px;
        border-radius: 8.83px;
    }

    .m-features-header {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Poppins, sans-serif;
        font-weight: 700;
        font-size: 13.81px;
        color: #323142;
        margin-bottom: 20px;
    }

    .m-features-header img {
        width: 12px;
    }

    .arrow-up {
        transform: rotate(180deg);
    }

    .arrow-down {
        transform: rotate(0deg);
    }

    .m-features-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .m-feature-item {
        display: flex;
        align-items: center;
        gap: 11.46px;
    }

    .m-feature-item img {
        width: 19px;
        height: 19px;
    }

    .m-feature-item span {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 11.89px;
        color: #606060;
    }
}