@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.purchases {
    margin-top: 103px;
    margin-bottom: 138px;
}

.purchases__title {
    font-weight: 700;
    font-size: 50.92px;
    line-height: 58.2px;
    margin-bottom: 48px;
}

.purchases__title--highlight {
    color: #6C5FBC;
}

.purchases__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.purchases__card {
    display: flex;
    align-items: center;
    max-width: 345px;
    min-width: 250px;
    height: 83.3px;
    padding: 17px;
    background-color: #FFFFFF;
    box-shadow: 0px 20.07px 30.1px 0px #46464605;
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
}

.pcard--shadow {
    box-shadow: 0px 20.07px 40.1px 0px #4646463a;
    position: relative;
    z-index: 1;
}

.purchases__card__image {
    height: 70px;
    margin-right: 16px;
}

.purchases__card__title {
    font-weight: 600;
    font-size: 19.06px;
}

.purchases__card__status {
    font-weight: 500;
    font-size: 12.04px;
    margin-top: 4px;
}

.status--cancelled {
    color: #F1534E;
}

.purchases__card__time {
    position: absolute;
    right: 17px;
    bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #ACADB9;
}

.purchases__illustration {
    font-family: Manrope;
    background-color: #FFFFFF;
    box-shadow: 5.95px 55.35px 25.67px 0px #e5e5e550;
    width: 534px;
    height: 466px;
    border-radius: 25px;
    padding: 37.69px;
    flex-shrink: 0;
    box-shadow: 0px 76.07px 60.1px 0px #4646463d;
}

.illustration__title {
    font-weight: 800;
    font-size: 28.27px;
    line-height: 135%;
    letter-spacing: 0.31px;
    color: #000000;
}

.purchases .container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 30px;
}

.purchases__text {
    position: relative;
    max-width: 560px;
}

.illustration__period {
    font-weight: 600;
    font-size: 18.85px;
    line-height: 150%;
    letter-spacing: 0.63px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12.56px;
    background-color: #f5f4f4;
    width: 176px;
    height: 53px;
    padding-left: 18.75px;
}

.illustration__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__title {
    font-weight: 800;
    font-size: 18.85px;
    line-height: 150%;
    letter-spacing: 0.63px;
}

.content__subtitle {
    font-weight: 500;
    font-size: 15.71px;
    line-height: 150%;
    letter-spacing: 0.63px;
    color: #A0AEC0
}

.content__money {
    font-weight: 800;
    font-size: 21.99px;
    line-height: 150%;
    letter-spacing: 0.31px;

}

.content__card {
    border: 1.57px solid #EDF2F7;
    width: 458px;
    height: 135px;
    border-radius: 19px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__main-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.content__text-group {
    flex-grow: 1; 
}

.illustration__content{
    margin-top: 37.69px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.purchases__strelochka-mobile {
    display: none;
    width: 120px;
    transform: rotate(-90deg);
    position: absolute;
    right: -25px;
}


@media (max-width: 768px) {
    .purchases .container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .purchases__text {
        max-width: 100%;
        width: 100%;
    }

    .purchases__title {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .purchases__card {
        max-width: 228px;
        min-width: 188px;
        padding: 0 13px;
        height: 58.33px;
    }

    .purchases__card__title {
        font-size: 12.59px;
    }

    .purchases__card__status {
        font-size: 8px;
    }

    .purchases__card__time {
        font-size: 8px;
    }

    .purchases__card__image {
        width: 51px;
        height: auto;
    }

    .illustration__title {
        font-size: 16.75px;
    }

    .illustration__period {
        font-size: 11.16px;
        width: 104px;
        height: 31.63px;
        padding-left: 10px;
        border-radius: 7.44px;
    }

    .illustration__period img {
        width: 7.44px;
    }

    .content__title {
        font-size: 11px;
    }

    .content__subtitle {
        font-size: 9.3px;
    }

    .content__icon {
        width: 29.77px;
    }


    .purchases__illustration {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .content__card {
        width: 100%;
        height: auto;
        padding: 15px;
    }
    
    .content__money {
        font-size: 13px;
    }

    .purchases__strelochka-mobile {
        display: block;
    }
}
