.restaurants {
    margin-top: 100px;
    margin-bottom: 120px;
}

.restaurants__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 25.56px;
    color: #323142;
    display: flex;
    justify-content: center;
    gap: 0.25em;
}

.restaurants__title--highlight {
    color: #6C5FBC;
}

.restaurants__cards {
    margin-top: 86px;
    display: flex;
    gap: 30px;
}

.restaurants__card {
    text-decoration: none;
    flex: 1;
    height: 297px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 5.95px 55.35px 25.67px 0px #E5E5E5B2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card__image {
    height: 176px;
    position: relative;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

.card__image img {
    width: 396px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    filter: brightness(95%);
}

.card__content {
    margin-top: 11px;
    padding: 0 8.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;
}

.card__tag {
    padding: 6px 8px;
    text-align: center;
    border-radius: 5.4px;
    font-size: 13px;
    line-height: 1;
}

.tag--healthy {
    background-color: #F7EDD0;
    color: #DAA31A;
}

.tag--trending {
    background-color: #F7C5BA;
    color: #FB471D;
}

.card__title {
    color: #323142;
    font-weight: 600;
    font-size: 25.79px;
    line-height: 41.9px;
    letter-spacing: 0px;
    padding-right: 28px;
    width: 100%;
    box-sizing: border-box;
}

.card__info {
    font-weight: 400;
    font-size: 19.34px;
    line-height: 25.79px;
    letter-spacing: 0px;
    color: #8E97A6;
    display: flex;
    align-items: flex-end;
    gap: 11px;

}

.card__bookmark {
    position: absolute;
    right: 22px;
    top: 53px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
}

.card__bookmark:active {
    transform: scale(0.9);
}

.card__bookmark:hover {
    filter: brightness(90%);
}

.restaurants__viewall {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #ACADB9;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-top: 66px;
    gap: 20px;
}

.restaurants__viewall:hover {
    color: #707179;
}

.restaurants__card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.restaurants.restaurants--menu-page {
    margin-top: 145px;
}

.restaurants--menu-page .restaurants__title {
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

.title__content {
    display: flex;
    gap: 0.25em;
}

.restaurants--menu-page .restaurants__viewall {
    margin-top: 0px;
}

.restaurant-hero .card__image {
    height: 378px;
}

.restaurant-hero .card__image img {
    width: 1238px;
    position: absolute;
    left: 50%;
    bottom: -150px;
    transform: translateX(-50%);
    filter: brightness(95%);
}

.restaurant-hero .restaurants__card {
    height: 497px;
    margin-top: 106px;
}

.restaurant-hero .card__content {
    margin-top: 0;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.restaurant-hero .card__title {
    max-width: 400px;
    font-weight: 600;
    font-size: 40px;
    line-height: 53.36px;
    letter-spacing: 0px;
}

.restaurant-hero .card__info {
    font-weight: 400;
    font-size: 26.23px;
    line-height: 34.98px;
    letter-spacing: 0px;
}

.restaurant-hero .card__bookmark {
    position: absolute;
    right: 43px;
    top: 31px;
    height: 62px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
}

.restaurant-hero .restaurants__card:hover {
    transform: scale(1.01);
    box-shadow: 0px 35px 100px rgba(0, 0, 0, 0.1);
}

@media(min-width:375px) and (max-width:1024px){
    .restaurants__title{font-size: 32px;}
    .restaurants__card{width: 281.6px; height: 211.63px;}
    .card__tag{font-size: 9.08px;}
    .card__title{font-size: 18.34px;}
    .card__info{font-size: 13.75px;}
    img[src="img/card-star.svg"]{width: 18.34px;height: 18.34px;}
    img[src="img/Bookmark.svg"]{width: 28.5px;height: 28.5px;}
    img[src="img/rest-1.jpg"]{width: 281.6px;height: 125.25px;}
    img[src="img/rest-2.jpg"]{width: 281.59px;height: 125.25px;}
    .restaurants__viewall{font-size: 14.22px;}
    img[src="img/view_all_arrow.svg"]{height: 13px;width: 13px;}
}