.reviews {
    margin-top: 116px;
    margin-bottom: 217px;
}

.reviews__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2;
    color: #323142;
    gap: 12px;
    margin-bottom: 80px;

}

.reviews__title--highlight {
    color: #6C5FBC;
}

.reviews__content {
    display: flex;
    gap: 46px;
    align-items: flex-start;
}

.reviews__main-review {
    width: 528px;
    height: 346px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 21px;
    box-shadow: 50px 76.07px 100.1px 0px #4646463d;
    padding: 38px 43px;
}

.main-review__header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.review__quote {
    margin-left: auto;
}

.review__pic {
    border-radius: 50%;
}

.review__name {
    font-weight: 500;
    font-size: 20.89px;
    line-height: 1.2;
}

.review__status {
    font-weight: 300;
    font-size: 16.71px;
    line-height: 1.2;
    color: #5E5D5D;
}

.main-review__text {
    font-size: 18px;
    line-height: 26.12px;
    text-align: justify;
    font-style: italic;
    color: #636363;
    margin-top: 32px;
}

.main-review__stars {
    margin-top: 38px;
}

.reviews__right-col {
    display: flex;
    flex-direction: column;
    height: 338px;
    justify-content: space-between;
    flex-grow: 1;
}

.reviews__track {
    display: flex;
    gap: 46px;
    margin-right: -100vw;
    padding-right: 50px;
}

.reviews__side-review {
    width: 528px;
    height: 239px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 21px;
    box-shadow: 50px 76.07px 100.1px 0px #4646463d;
    padding: 38px 43px;
    box-sizing: border-box;
}

.side-review__text {
    font-size: 18px;
    line-height: 26.12px;
    text-align: justify;
    font-style: italic;
    color: #969696;
}

.side-review__stars {
    margin-top: 32px;
}

.reviews__scrollbar {
    width: 100%;
    max-width: 667px;
    height: 11px;
    background-color: #6b5fbc3a;
    border-radius: 50px;
    position: relative;
}

.scrollbar__thumb {
    width: 29%;
    height: 100%;
    background-color: #6C5FBC;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.review__text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.mobile-scrollbar {
    display: none;
}

@media (max-width:768px) {
    .reviews__title {
        flex-direction: column;
        font-size: 30px;
        align-items: center;
    }

    .reviews__right-col {
        display: none;
    }

    .reviews__main-review {
        width: 100%;
        height: auto;
        min-width: 190px;
        padding: 22px 25px;
    }

    .review__pic {
        width: 42px;
    }

    .review__name {
        font-size: 12.45px;
    }

    .review__status {
        font-size: 10px;
    }

    .review__text-group {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 4px;
    }

    .review__quote {
        width: 35px;
    }

    .main-review__text {
        font-size: 10.72px;
        line-height: 15.56px;
        margin-top: 19px;
    }

    .main-review__stars {
        margin-top: 22px;
    }

    .main-review__stars img {
        width: 13.7px;
    }

    .mobile-scrollbar {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
    }

    .reviews__content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .reviews__scrollbar {
    width: 100%;
    max-width: 667px;
    height: 5px;
    background-color: #6b5fbc3a;
    border-radius: 50px;
    position: relative;
}
}