.sign-up {
	display: flex;
	min-height: 100vh;
}

.sign-up__left {
	width: 55%;
	display: flex;
	background-color: #FFFFFF;
	padding-left: 48px;
	padding-right: 48px;
	flex-direction: column;
	align-items: center;
}

.sign-up a {
	text-decoration: none;
}

.sign-up__logo {
	margin-top: 32px;
	margin-bottom: 88px;
	margin-right: auto;
	width: 45.94px;
	height: 42.31px;
}

.sign-up__box {
	max-width: 388px;
	height: 692px;
	display: flex;
	flex-direction: column;
	margin-top: auto;
    margin-bottom: auto;
}

.upper__title {
	width: 100%;
	font-weight: 600;
	font-size: 35.25px;
	line-height: 125%;
	letter-spacing: -4%;
	display: flex;
	justify-content: center;
}

.upper__accounts {
	height: 63.4px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	position: relative;
	gap: 21px;
	margin-top: 48px;
}

.upper__accounts--button {
	width: 183.4px;
	border-radius: 13.34px;
	background-color: #F5F5F5;
	position: relative;
}

.upper__accounts--icon {
	height: 30px;
	position: relative;
	left: 44%;
	top: 25%;
}

.upper__accounts--icon img{
	width: 26px;
	position: absolute;
}

.upper__or {
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 3%;
	text-transform: uppercase;
	color: #005A6459;
	margin-left: 47%;
	margin-top: 33px;
	margin-bottom: 35px;
}

.lower__input {
	width: 100%;
	height: 74.5px;
	border-radius: 14.27px;
	background-color: #F5F5F5;
	display: flex;
	margin-bottom: 25px;
	position: relative;
}

.input__icon {
	position: absolute;
	margin-left: 24px;
	margin-right: 28px;
	top: 34%;
}

.input__icon--right {
	right: 0;
	cursor: pointer;
}

.lower__input input {
	all: unset;
	width: 100%;
	margin-left: 79px;
}

.lower__input input::placeholder{
	font-weight: 600;
	font-size: 16.68px;
	line-height: 100%;
	letter-spacing: 7%;
	text-transform: uppercase;
	color: #C2C3CB;
}

.lower__input:has(input:not(:placeholder-shown)),
.lower__input:focus-within {
    background-color: #FFFFFF;
	border: 1.67px solid #6C5FBC;
}

.lower__input input:not(:placeholder-shown){
	font-weight: 500;
	font-size: 16.68px;
	line-height: 100%;
	letter-spacing: 2%;
	text-transform: capitalize;
	color: #6C5FBC;
}

.icon--default {
	opacity: 1;
}

.icon--active {
	opacity: 0;
}

.lower__input:focus-within .icon--default {
	opacity: 0;
}

.lower__input:has(input:not(:placeholder-shown)) .icon--default {
	opacity: 0;
}

.lower__input:focus-within .icon--active {
	opacity: 1;
}

.lower__input:has(input:not(:placeholder-shown)) .icon--active {
	opacity: 1;
}

.sign-up__box--button {
	padding-top: 25px;
    text-align: center;
	width: 100%;
	height: 74.5px;
	border-radius: 15.56px;
	background-color: #6C5FBC;
	margin-top: 14px;
	
	font-weight: 600;
	font-size: 17.79px;
	line-height: 100%;
	letter-spacing: 3%;
	text-transform: uppercase;
	color: #F3F5F6;
	
	cursor: pointer;
}

.sign-up__box--button:hover {
    background-color: #5a4ea3;
    color: #FFFFFF;
}

.sign-up__to-sign-in {
	width: 100%;
	margin-top: 23px;
	
	text-align: center;
	font-weight: 400;
	font-size: 18.9px;
	line-height: 100%;
	letter-spacing: 1%;
	color: #3E3E3E;
}

.sign-up__to-sign-in a {
	font-weight: 700;
	color: #6C5FBC;
}

.sign-up__copyright {
	width: 100%;
	height: 24;
	display: flex;
	justify-content: space-between;
	margin-top: 91px;
	margin-bottom: 48px;
	
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.2px;
	vertical-align: middle;
	color: #718096;
}

.sign-up__copyright a {
	color: #718096;
}

.sign-up__side-img {
	width: 45%;
	background-color: #6C5FBC;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 48px;
	padding-right: 48px;
}

.side-img__img img {
	width: 100%;
}

.side-img__text {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: 66px;
	
	font-family: manrope, sans-serif;
	text-align: center;
	color: #FFFFFF;
}

.side-img__text--title {
	font-weight: 800;
	font-size: 40px;
	line-height: 110%;
	letter-spacing: 0%;
}

.side-img__text--body {
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.2px;
	opacity: 0.7;
}

.side-img__text--img {
	
}