.subscribe {
    max-width: 1214px;
    height: 280px;
    background: #5C4EAE;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-bottom: 171px;
    border-radius: 30px;
}

.subscribe__get50 {
    position: absolute;
    font-weight: 800;
    font-size: 70px;
    color: #dedcef;
    padding: 37px 0 0 66px;
    z-index: 2;
}

.subscribe__foodimage {
    position: absolute;
    bottom: -60px;
    right: 72px;
    z-index: 3;
}

.subscribe__enteremail {
    display: flex;
    position: absolute;
    align-items: center;
    height: 68px;
    width: 440px;
    bottom: 61px;
    left: 66px;
    border-radius: 14.2px;
    background-color: #dedcef;
    box-shadow: 0 7.25px 45.33px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
    gap: 62.25px;
    z-index: 2;
}

.subscribe__enteremail input {
    all: unset;
    z-index: 2;
    font-family: Poppins;
    height: 24px;
    width: 217px;
    font-weight: 400;
    font-size: 16px;
    color: #878787;
    padding: 0;
    background-color: #dedcef;
}

.subscribe__enteremail a {
    display: flex;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14.75px;
    color: #F7F8FA;
    background-color: #6c5fbc;
    border-radius: 11.25px;
    height: 53.44px;
    width: 132.37px;
    right: 6.35px;
}

.subscribe__groupburgers {
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 0;
    pointer-events: none;
}

.subscribe__leftgroupburgers {
    position: absolute;
    height: 490.1px;
    width: 892.92px;
    top: 0;
}

.subscribe__rightgroupburgers {
    position: absolute;
    height: 490.1px;
    width: 892.92px;
    top: 0;
    left: 321px;
}

.subscribe__subscribe:hover {
    background-color: #5e54a5;
}

@media (max-width: 768px) {
    .subscribe {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        padding-bottom: 100px;
        padding-top: 30px;
        margin-left: 24px;
        margin-right: 24px;
        border-radius: 15px;
    }

    .subscribe__groupburgers {
        display: none;
    }

    .subscribe__get50 {
        position: static;
        font-size: 41.45px;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .subscribe__enteremail {
        position: static;
        margin: 0 auto;
        width: 80%;
        height: 48px;
        padding: 0 10px 0 20px;
        gap: 0;
    }

    .subscribe__enteremail input {
        width: 100%;
        font-size: 10px;

    }

    .subscribe__maskgroup {
        width: 100%;
    }

    .subscribe__enteremail a {
        height: 35px;
        font-size: 9.59px;
        font-weight: 300;
        border-radius: 9px;
        position: inherit;
    }

    .subscribe__foodimage {
        position: absolute;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: -100px;
        width: auto;
        height: auto;
    }

    .subscribe__foodimage img {
        width: 170px;
        height: auto;
        display: block;
    }
}


@media (max-width: 1024px) {

    .subscribe {
        max-width: 863px;
        width: 863px;
        height: 199px;
        margin-bottom: 121px;
    }

    .subscribe__get50 {
        font-size: 49px;
        padding: 26px 0 0 46px;
    }

    .subscribe__groupburgers {
        display: flex;
        position: absolute;
        align-items: center;
        z-index: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .subscribe__leftgroupburgers img {
        height: 199px !important;
    }

    .subscribe__rightgroupburgers img {
        position: absolute;
        height: 199px;
        left: -90px;
    }


    .subscribe__foodimage img {
        height: 196px;
        width: 194px;
    }

    .subscribe__enteremail {
        height: 48px;
        width: 312px;
        bottom: 43px;
        left: 46px;
        padding: 0 15px;
    }

    .subscribe__enteremail input {
        font-size: 11px;
    }

    .subscribe__enteremail a {
        height: 38px;
        width: 94px;
        right: 4px;
        font-size: 10px;
    }

}