.hero__banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% + 56px);
    margin-right: -100px;
}

.hero__banner img {
    max-width: 100%;
    height: auto;
}

.hero__block--left {
    max-width: 757px;
    margin-top: 90px;
    min-width: 0;
}

.banner__slider {
    transform: translateX(-56px);
}

.hero__searchbar {
    display: flex;
    align-items: center;
    gap: 29px;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 20px;
    height: 75px;
    padding: 10px 10px 10px 29px;
    margin-top: 88px;
}

.search__icon {
    flex-shrink: 0;
}

.search__input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #EDEDED;
    font-size: 20.54px;
    color: #323142;
}

.search__input::placeholder {
    color: #AAABBA;
    font-weight: 500;
    font-size: 20.54px;
    letter-spacing: -20%;
}

.hero__buttons {
    width: 100%;
    height: 75px;
    display: flex;
    border: 2px #6C5FBC solid;
    border-radius: 15.14px;
    margin-top: 35px;
}

.hero__button-food {
    width: 50%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 19.46px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #F3F5F6;
    border: none;
    border-radius: 15.14px 0 0 15.14px;
    color: #6C5FBC;
}

.hero__button-resturent {
    width: 50%;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 19.46px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #6C5FBC;
    border-radius: 0 10px 10px 0;
    color: #F3F5F6;
}

.hero__block--right {
    max-width: 377px;
    margin-top: 128px;
}

.hero__filter {
    background-color: white;
    box-shadow: 5.71px 9.52px 28.56px 0.95px #0000002f;
    border-radius: 24px;
    min-height: 591px;
    max-width: 377px;
    padding: 33px;
}

.hero__block {
    display: flex;
    gap: 112px;
    justify-content: space-between;
}

.filter__title {
    font-weight: 600;
    font-size: 21.45px;
    line-height: 28.89px;
    letter-spacing: 0px;
    color: #323142;
    margin-bottom: 16px;
}

.filter__button {
    display: block;
    width: 66px;
    height: 96px;
    border-radius: 16px;
}

.filter__buttons {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 25px;
}

.filter__button--highlight {
    border: 4px #FB471D80 solid;
    border-radius: 25px;
    box-sizing: content-box;
    box-shadow: 1px 10.52px 20.56px rgba(0, 0, 0, 0.199);
}

.filter__sort1 {
    font-weight: 400;
    font-size: 14.45px;
    color: #ACADB9;
    margin-bottom: 8px;
}

.filter__sort2 {
    font-weight: 500;
    font-size: 14.45px;
    color: #6C5FBC;
}

.filter__sorts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.filter__sortby {
    margin-bottom: 20px;
}

.filter__apply {
    margin-top: 44px;
    width: 100%;
    height: 60px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 13.73px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #6C5FBC;
    border: none;
    border-radius: 13.65px;
    color: #FFF3EB;
}

.filter__apply:hover {
    background-color: #4c4385;
}


@media (max-width: 768px) {
    .hero__block {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .hero__block--left,
    .hero__block--right {
        display: contents;
    }

    .hero__banner {
        order: 1;
        width: calc(100% + 40px);
    }
    
    .banner__slider {
        display: none;
    }

    .hero__block--right .hero__filter { 
        order: 2;
        width: 100%;
        max-width: 100%;
        min-height: auto;
        margin-top: 30px;
    }

    .filter__buttons {
        justify-content: space-between;
        flex-wrap: wrap; 
    }

    .filter__button {
        width: 55px;
        height: 80px;
    }

    .filter__slider img {
        width: 100%;
    }

    .hero__searchbar {
        order: 3;
        margin-top: 80px;
    }
    
    .hero__buttons {
        order: 4;
        margin-top: 18px;
    }
}